@charset "utf-8";
/* CSS Document */

/* agenda ficha de carrera */
.ficha_agenda_homecarreras .h5 { color: #FFFFFF  }
.ficha_agenda_homecarreras .text_campus { font-size: 1.4em }
/* agenda home ini */
#agenda  { position: relative }
#agenda .ucu-carousel .holder { margin: 0 40px 0 70px }

#despliegue_agenda .agenda_actividades{ color: #FFFFFF !important}


@media (min-width: 768px){
	#agenda .evento_titulo{ min-height: 131px }
	#agenda .ucu-carousel .holder { margin: 0 20px }
	
	#agenda .notInit span.bottom-line  {
    height: 3px;
    width: 110px;
    margin-top: 1px;
    margin-left: 32px;
    content: "";
    display: block;  
	background-color: #a189bd }
	
		
	
#agenda .slider.activateSlider.notInit > .slide{
max-width:280px;
margin-left: 0}
	
	
	
	
	
}
#agenda .text_campus { font-size: 1.4em }

#agenda .blocks-carousel .owl-nav div {
	background-color: #243a6b;
	border-radius: 50%;
}

#agenda .holder_int {margin-left:32px}

#agenda .owl-carousel .owl-item .bottom-line{
    height: 3px;
    width: 110px;
    margin-top: 1px;
	margin-left:32px;
	content: "";
	display: block
}


#agenda h3 {  font-weight: 400; font-size: 1.6em; line-height: 1.25; text-rendering: optimizeLegibility }

@media (min-width: 768px) {
#agenda h3 { font-size: 1.8em }
}

#agenda .owl-carousel .owl-item:nth-child(4n+1) p, #agenda .owl-carousel .owl-item:nth-child(4n+1) h3 {
	color: #a189bd }
#agenda .owl-carousel .owl-item:nth-child(4n+1) .bottom-line{
	background-color: #a189bd }

#agenda .owl-carousel .owl-item:nth-child(4n+2) p, #agenda .owl-carousel .owl-item:nth-child(4n+2) h3
{
	color: #57a7dc }
#agenda .owl-carousel .owl-item:nth-child(4n+2) .bottom-line{
	background-color: #57a7dc }

#agenda .owl-carousel .owl-item:nth-child(4n+3) p, #agenda .owl-carousel .owl-item:nth-child(4n+3) h3 {
	color: #e07219 }
#agenda .owl-carousel .owl-item:nth-child(4n+3) .bottom-line{
	background-color: #e07219 }

#agenda .owl-carousel .owl-item:nth-child(4n+4) p, #agenda .owl-carousel .owl-item:nth-child(4n+4) h3 {
	color: #009fa2 }
#agenda .owl-carousel .owl-item:nth-child(4n+4) .bottom-line{
	background-color: #009fa2 }


#agenda .slide {
    padding: 10px 52px 10px 25px;
}
#agenda .slide:nth-child(4n+1) p, #agenda .slide:nth-child(4n+1) h3 { color: #a189bd }
#agenda .slide:nth-child(4n+1) .bottom-line{
   	background-color: #a189bd
}

#agenda .slide:nth-child(4n+2) p,#agenda .slide:nth-child(4n+2) h3 { color: #57a7dc }
#agenda .slide:nth-child(4n+2) .bottom-line{
   	background-color: #57a7dc
}

#agenda .slide:nth-child(4n+3) p, #agenda .slide:nth-child(4n+3) h3 { color: #e07219 }
#agenda .slide:nth-child(4n+3) .bottom-line{
   	background-color: #e07219 }


#agenda .slide:nth-child(4n+4) p, #agenda .slide:nth-child(4n+4) h3 { color: #009fa2 }
#agenda .slide:nth-child(4n+4) .bottom-line{
   	background-color: #009fa2 }

#agenda .slide .bottom-line{
height: 3px;
    width: 110px;
    margin-top: 1px;
    margin-left: 32px;
    content: "";
    display: block }




/* agenda home fin */


#despliegue_agenda .table { color: #243a6b }  
despliegue_agenda .despliegue a:hover { color: #0671aa }  

#despliegue_agenda .text-white{ color: #FFFFFF }
#despliegue_agenda .padding1230{  padding:10px 30px }
#despliegue_agenda .padding1025{  padding:10px 25px }
#despliegue_agenda .padding1530{  padding:15px 30px }
#despliegue_agenda .paddingcero {  padding:0 0 0 0 !important }
#despliegue_agenda .bg-white{ background-color: #FFFFFF  !important }

#despliegue_agenda [class*="table-"] {
    background-color: #fff;
    border-radius: 0;
    box-shadow: none }


#despliegue_agenda strong {
    font-weight: 600;
}

#agenda .evento_tipo {
    font-size: 1.5em; font-weight: 500; margin-top: 20px }

#agenda p.text_campus, #agenda p.dia_hora {
    font-size: 1.5em; font-weight: 500; margin-top: 10px}


#despliegue_agenda .table-list {margin-top:55px}

#despliegue_agenda .table-list .table td { border-bottom: 15px solid #FFFFFF; border-left: 0 }

#despliegue_agenda .table-list .table a.verprograma { color:#0099FF; font-weight: 800 }
#despliegue_agenda .table-list .table a.descargar { color:#0099FF; font-weight: 800 }

#despliegue_agenda .table-list .table a.verprograma:hover { text-decoration: underline }
#despliegue_agenda .table-list .table a.descargar:hover { text-decoration: underline }

.tabla_agenda a { color:#0099FF; font-weight: 800 }
.tabla_agenda a:hover{ text-decoration: underline }

.tabla_agenda a:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-bottom: 3px;
    margin-left: 8px;
    border: solid #0099FF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 768px){
#agenda .slide { padding: 10px 20px }

	#despliegue_agenda .table-list .table td:first-child { border-right: 15px solid #FFFFFF }
}

#despliegue_agenda .table-list .table a.descargar:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-bottom: 3px;
    margin-left: 8px;
    border: solid #0099FF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#despliegue_agenda .table-list .table a.verprograma:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-bottom: 3px;
    margin-left: 8px;
    border: solid #0099FF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#despliegue_agenda .table-list .table.bg-white{ background-color: #FFFFFF }
#despliegue_agenda .table-list .table td { background-color: #f3d9be; padding: 25px 30px }
#despliegue_agenda .table-list .table tr > *:first-child {
    background: #D57516;
	color:#FFF;
	font-weight:600;
	min-width: 180px;
    padding-left: 0;
    padding-right: 0; text-align: center
}

#despliegue_agenda .fdo_agenda{ background: #D57516 }
#despliegue_agenda .evento_titulo{ min-height: 230px }
#despliegue_agenda .inscripcion { background-color: #243a6b; opacity: 1; font-weight: 400; }
#despliegue_agenda .inscripcion a  { color: #FFFFFF; display: block; width: 100%; height: 100%; padding: 10px 0; font-weight: 400 }
#despliegue_agenda .inscripcion a:hover, .inscripcion a:active, .inscripcion .h6 a:hover {  color: #243a6b !important; opacity: 1 !important; text-decoration: none }
#despliegue_agenda .inscripcion:hover {  background-color: #fff; color: #243a6b !important; opacity: 1; text-decoration: none }
#despliegue_agenda .inscripcion .h4:hover {  background-color: #fff; color: #243a6b !important }

#despliegue_agenda .inscripcion a:after  {content:none}

#despliegue_agenda .inscripcion strong {  font-weight: 800 }
#despliegue_agenda .despliegue .despliegue-info {
    height: 58px;
    position: relative;
    margin-top: 35px;
}

#despliegue_agenda .agenda_actividades { position: absolute; left: -30px; padding-left: 30px;bottom: 0 }
#despliegue_agenda .agenda_actividades h4 { font-weight:800 }


#despliegue_agenda .content, #despliegue_agenda .despliegue { color: #243a6b } 
#despliegue_agenda .border-primary { border: 3px solid #243a6b } 

#despliegue_agenda .titular { font-weight: 800  } 

#despliegue_agenda .titular:after{ content: "";
	display: block;
	background-color: #D57516;
width: 70px;
height: 6px; margin-top: 1px;margin-left: -20px; }

#despliegue_agenda .title{ font-weight: 400  } 



#despliegue_agenda .despliegue-info .item {
    font-size: 1.8em;
    font-weight: normal;
    color: #243a6b;
	border: 3px solid #D57516; 
	padding: 10px 25px;
    margin-left: 35px;
    margin-top: 10px;
    margin-right: 11px }

#despliegue_agenda .despliegue-info .item:before, #despliegue_agenda .despliegue-info .item:last-child {margin-right: 0 }

#despliegue_agenda .despliegue-info .icon {
    position: absolute;
    width: 65px;
    height: 65px;
}


#despliegue_agenda .despliegue-info .icon.dia {
    background-image: url(../images/icons/evento_dia.svg);
}

#despliegue_agenda .despliegue-info .icon.hora {
    background-image: url(../images/icons/evento_hora.svg);
}


#despliegue_agenda .despliegue-info .icon.modalidad {
    background-image: url(../images/icons/evento_modalidad.svg);
}


#despliegue_agenda .despliegue-info .align {
    padding-right: 0}	
	
	
/* agenda ini */

#despliegue_agenda .tns-outer {
    padding-top: 20px !important;
}

/*#agenda .bottom-line{  
    height: 3px;
    width: 110px;
    margin-top: 1px;
	margin-left:34px }*/


#agenda .intronotas  { padding: 10px 20px 30px 20px }

#agenda.fondoagenda_gr { background-color: #D0D1D2; margin-top: 20px }

@media (max-width: 979px){
	#agenda .holder_int { margin: 0 12px }
	#despliegue_agenda .vertical-carousel .tns-controls button[data-controls="prev"] { left: 30px }
	#despliegue_agenda .vertical-carousel .tns-controls button[data-controls="next"] { right: 5px }
	#agenda .intronotas { padding: 0 45px 15px 45px }
}


@media (min-width: 980px){
	
.despliegue .main-col { width: calc(100% - 360px)}
	.despliegue .sidebar { width: 360px }

	#despliegue_agenda .agenda_actividades {  left: -60px; padding-left: 60px }

	
#despliegue_agenda .vertical-carousel .tns-controls button[data-controls="next"] { bottom: -35px}
 }

#despliegue_agenda .plan-cta .icon-holder {
    display: inline-block !important
}

#despliegue_agenda .bg-error {
            background-color: #d26a5c; 
            padding: 20px 30px; 
            color: #FFF; 
            font-size:1.6em; 
            font-weight: bold
        }




#despliegue_agenda .content ul li:before{
display: none !important}

#despliegue_agenda .content ul li, .content ol li {
    font-size: 1em
}

#despliegue_agenda .campus-popup-department {
    font-weight: 500 !important
}

#despliegue_agenda .campus-popup-list a:hover, .campus-popup-link:hover, .campus-popup-department:hover {
color: #FFFFFF !important}


#despliegue_agenda .campus-popup-item:first-child {
	margin-left: 0}

#despliegue_agenda.despliegue .despliegue-info .item strong{
    font-weight: 800
}

#despliegue_agenda .title, 
#despliegue_agenda .h3, 
#despliegue_agenda .despliegue .summary {
    color:#243a6b !important }


@media (max-width: 767px){

	
	
	#despliegue_agenda .table-list .table td {
		border-bottom: 0}

#despliegue_agenda .tabla_agenda { margin-top: 95px }
#despliegue_agenda .agenda_actividades { padding-left: 60px }
	
#despliegue_agenda.despliegue .summary .holder {
    background-color: #FFFFFF;
    padding: 0 30px;
    text-align: left;    
	color: #243a6b !important
	}
	
#despliegue_agenda .content .table-list .table td {
    border: 0;
    padding: 10px 20px !important }

#despliegue_agenda .content .table-list .table td.bg-white {
    padding: 0 !important;margin-top: 20px }
	
	#despliegue_agenda .content ul li, .content ol li {
    padding-left: 0;
}
	
	#despliegue_agenda .h3, #despliegue_agenda .h5 {
    font-size: 2.3em }
	
	
	#despliegue_agenda .table-list .table tr > * { padding: 12px 15px !important }
	
	#despliegue_agenda .inscripcion {margin: 0 -12px} 
	#despliegue_agenda .table-list .table .celda_vacia{  display: none }

	#despliegue_agenda .table-list .table tr > * + * {   margin-top: 0 !important}
	
	#despliegue_agenda .table-list .table tr > *:first-child{  text-align: left}
	
	
	#despliegue_agenda .table-list .table tr {
    padding: 0;
    padding-right: 0 }
		
#despliegue_agenda .table-list .table tr + tr { border-top:0 }				

#despliegue_agenda .despliegue-info .summary * { color: #243a6b !important}

#despliegue_agenda .despliegue-info .item {
	display: block;
    padding: 7px 15px;
    margin: 30px 0 32px 30px;
	max-width: 150px;
}
	
	#despliegue_agenda .despliegue-info .icon {
    width: 55px;
    height: 55px;
	margin-top: -6px }

#despliegue_agenda .despliegue-info {
padding-bottom: 10px;	display:block }

	#despliegue_agenda .oculta_movil td {	display:none }
	
	
	#sidebar-news {
    margin: 0 -30px; margin-top: 20px;
}

		
}




@media (min-width: 768px){
#despliegue_agenda .table thead tr > *:last-child, .table tbody tr > *:last-child {
    padding-right: 30px }

	#despliegue_agenda .table tr > *:first-child { min-width: 220px }
	
	#despliegue_agenda .agenda_actividades { font-weight: 600}
	

	
		
#despliegue_agenda .content ul, #despliegue_agenda .content ol {
     padding-top: 0 !important
}
	
	#despliegue_agenda .content ul li, #despliegue_agenda .content ol li {
   padding-left: 0
}

	
}



@media (min-width: 980px){

#despliegue_agenda .despliegue .main-col {
    width: calc(100% - 350px) }
	
	#despliegue_agenda .despliegue .sidebar {
    width: 350px }
	
	#despliegue_agenda.despliegue { padding-top: 60px }
	#despliegue_agenda.despliegue .content { margin-top: 40px }
	#despliegue_agenda.despliegue .despliegue-info .item {  width: 25% }	
	#despliegue_agenda.despliegue .despliegue-info .item
	#despliegue_agenda.despliegue .despliegue-info .item:before { width: 0}		
	
	
#despliegue_agenda.plan-cta .icon-holder .icon {
    display: inline-block;
    max-width: 60%;
    left: 70% }
	
#despliegue_agenda.plan-cta .icon-holder {
    width: 22.88% }
}
	




@media (min-width: 1200px){
		#despliegue_agenda.despliegue .despliegue-info .item {  width: 20% }	

	#despliegue_agenda .table tr > *:first-child { padding-left: 0 }
	
	#despliegue_agenda .titular:after{height: 7px }	


}




.popup > .holder.campus-popup .close-btn span {
    background-color: #FFFFFF }

.popup > .holder.campus-popup .close-btn span:before {	
	background-color: #FFFFFF }


/* home eventos agenda */
#agenda_actividades .styled-form .input-holder .select select.placeholder { color: rgba(74, 73, 79, 1) !important; color: #243a6b }
.small { font-size:.85em}
	
#agenda_actividades .styled-form .input-holder .label {  color: #243a6b; font-weight: 600 }
#agenda_actividades .styled-form .input-holder .label_date {   font-size: 1.8em;  margin-top: 11px; font-weight: normal }


#agenda_actividades .small { font-size:1.4em}

#agenda_actividades .styled-form .col-sm-3 { margin: 20px 0 }
#agenda_actividades .styled-form .col-sm-3:first-child { margin: 0 0 20px 0 }
#agenda_actividades .styled-form .col-sm-3:last-child { margin: 20px 0 0 }

@media (min-width: 980px){
	#agenda_actividades .styled-form .col-sm-3 { margin: 0 }
	#agenda_actividades .styled-form .col-sm-3:first-child, #agenda_actividades .styled-form .col-sm-3:last-child { margin: 0 }

}


/* agenda en categoria Actividades - ucu carreras */

#agenda_actividades .col-sm-4 .holder_int { position: relative }
#agenda_actividades .col-sm-4 .holder_int2 { padding: 0 20px 20px 20px; margin-top: -2px }


#agenda_actividades .col-sm-4:nth-child(3n+1) .holder_int, #agenda_actividades .col-sm-4:nth-child(3n+1) .holder_int2 { background: #ea5b0c}
#agenda_actividades .col-sm-4:nth-child(3n+2) .holder_int, #agenda_actividades .col-sm-4:nth-child(3n+2) .holder_int2{ background: #9b83bc }
#agenda_actividades .col-sm-4:nth-child(3n+3) .holder_int, #agenda_actividades .col-sm-4:nth-child(3n+3) .holder_int2 { background: #48afb0 }

	#agenda_actividades .accordion-btn:after {
    position: absolute;
    bottom: 15px;    top: auto;
    left: calc(50% - 8px);
    border: solid #FFFFFF; border-width: 0 2px 2px 0;
	min-width: 15px;
    min-height: 15px; }


#agenda_actividades .fill-btn {
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    margin-right: 0;
	box-shadow: inset 0px 0px 0px 1px #FFFFFF;
	padding: 8px 15px
}

#agenda_actividades .fill-btn:hover {
    color: #fff;
    background-color: #243a6b;
    border-radius: 0;
    margin-right: 0;
	box-shadow: inset 0px 0px 0px 1px #243a6b
}

#agenda_actividades .col-sm-4 img { opacity: .7}
#agenda_actividades .col-sm-4 {margin-bottom: 30px }
#agenda_actividades .caja_titulo { margin: 20px 20px 5px 20px  }
	 .caja_fecha { margin: 0 20px; padding-bottom: 40px }


@media (max-width: 768px){
#despliegue_agenda .imgblanco { height: 70px!important 	}}


@media (min-width: 768px){
	#agenda_actividades .col-sm-4 {
		margin-bottom: 50px;
	}
	
	#agenda_actividades .col-sm-4 .holder_int { min-height: 280px }
#agenda_actividades .holder_int2 p {   font-size: 1.6em }	
}

#agenda_actividades h3 { font-size: 1.6em }

@media (min-width: 980px){

#agenda_actividades .caja_titulo {
    margin: 30px 30px 10px 30px }

#agenda_actividades h3 { font-size: 1.8em }
#agenda_actividades .caja_fecha { margin: 0 30px  }

}
