@charset "utf-8";
/* CSS Document */

/* genericos*/
body,input,textarea,select,button { font-family: 'Asap', sans-serif }
a, button {color: #173363; -webkit-tap-highlight-color: none }
a:focus { border: 0; box-shadow: none }
p, .p {
    font-weight: 400 }

strong {
    font-weight: 600 !important;
}


a:hover {
    color: auto;
    -webkit-transition: color .125s ease-in-out;
    transition: color .125s ease-in-out;
}

#iconos_carreras svg {-webkit-transition:fill .25s ease-in-out;transition:fill .25s ease-in-out}


.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #173363 
}
 
.bg-primary { background-color: #173363 } /*azul*/
.bg-primary-light { background-color: #009ce6 } /*celeste*/
.bg-primary-lighter { background-color: #d0f0f8 } /*celeste claro */
.bg-primary-comp { background-color: #a189bd } /*lila*/
.bg-primary-sec { background-color: #ea5b0c } /*naranja*/
.bg-primary-terc { background-color: #a5d867 } /*verde*/
.bg-turquesa { background-color: #0eafb1 } /*turquesa */
.bg-amarillo { background-color: #f7c600 } /*amarillo */
.bg-gris-ucu { background-color: #d0d1d3 } /*gris */
.bg-grey-lighter { background-color: #D0D1D2 } /*gris agenda */
.bg-grey-light { background-color: #e5e5e5 } /*gris porque ucu */
.bg-verde-carreras { background-color: #0eafb1 } /*verde carreras */
.bg-verde-terc { background-color: #90dada} /*verde claro */


.text-gris-ucu { color: #d0d1d3 } /*gris */
.text-uppercase { text-transform: uppercase }
.text-primary { color: #173363 }/*azul*/
.text-primary-light { color: #009ce6 } /*celeste*/
.text-primary-lighter{ color: #d0f0f8 } /*celeste claro */
.text-turquesa { color: #0eafb1 }/*turquesa */
.text-naranja { color: #ea5b0c }/*naranja*/
.text-amarillo { color: #f7c600 }/*amarillo*/ 
.text-primary-comp { color: #a189bd } /*lila*/
.text-verde-carreras { color: #0eafb1 } /*verde carreras */
.text-naranja-sec { color: #f49667}/*naranja claro */
.text-verde-sec { color: #75b7ba} /*verde claro */

.padding05 { padding: 5px }
.padding10 { padding: 10px}
.padding20 { padding: 20px}
.padding30 { padding: 30px}
.padding1020 { padding: 10px 20px}
.paddingcero { padding: 0}
.padding0510 { padding: 5px 10px}
.padding0515 { padding: 5px 15px}
.padding0520 { padding: 5px 20px}
.padding1025 { padding: 10px 25px}
.padding2030 { padding: 20px 30px}
.padding300 { padding: 30px 0}
.padding4030 { padding: 40px 30px}
.padding4020 { padding: 40px 20px}
.padding0030 { padding: 0 30px}
.padding040 { padding: 0 40px}

.margen050 {margin-left: 50px; margin-right: 50px}
.margen200 {margin-top: 20px; margin-bottom: 20px}
.margin2025 {margin: 20px 25px}
.margin1725 { margin: 17px 25px}
.padding-t-10{ padding-top: 10px}
.padding-b-10{ padding-bottom: 10px}
.padding-b-15{ padding-bottom: 15px}
.padding-b-20{ padding-bottom: 20px}
.padding-b-30{ padding-bottom: 30px}
.padding-b-40{ padding-bottom: 40px}
.margin-b-3 { margin-bottom: 3px}
.margin-b-4 { margin-bottom: 4px}

.section-ch {
    padding-top: 40px;
    padding-bottom: 40px }

.section-cht {
    padding-top: 40px }
	.section-chb {
    padding-bottom: 40px }

.section-t {
    padding-top: 70px;
}

.section-b {
    padding-bottom: 70px;
}

.section {
    padding-top: 70px;
    padding-bottom: 70px;
}

@media (min-width: 768px){
	.section-ch {
    padding-top: 60px;
    padding-bottom: 60px }
	
	.section-cht {
    padding-top: 60px }
	.section-chb {
    padding-bottom: 60px }

	.section { padding-top: 85px;  padding-bottom: 85px }	
	.section-t { padding-top: 85px}	
	.section-b { padding-bottom: 85px}	

}	


@media (min-width: 1200px) and (min-height: 800px){
	.section { padding-top: 150px;  padding-bottom: 150px }
	.section-t { padding-top: 150px }
	.section-b { padding-bottom: 150px }

}


.padding-t-15{ padding-top: 15px}
.padding-t-20{ padding-top: 20px}
.padding-t-30{ padding-top: 30px}
.padding-t-40{ padding-top: 40px}
.padding-t-70{ padding-top: 70px}
.padding-r-20{ padding-right: 20px}
.padding-r-30{ padding-right: 30px}
.border { border: 1px solid #d9d9d9 }
.border-b { border-bottom: 1px solid #d9d9d9 }
.border-b-white { border-bottom: 1px solid #FFFFFF }
.border-white{ border: 1px solid #FFFFFF }
.opacidad60 { opacity: .6}

a.white {color: #FFFFFF; text-decoration: none}
a.white:hover { color: #FFFFFF; text-decoration: none; opacity: .7 }

/* FONTS */
@font-face {
    font-family: 'flamabold_italic';
    src: url('/plantillas/plantillas/fonts/flama_bold_italic-webfont.woff2') format('woff2'),
         url('/plantillas/fonts/flama_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flamabold';
    src: url('/plantillas/fonts/flama_bold-webfont.woff2') format('woff2'),
         url('/plantillas/fonts/flama_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal }

@font-face {
    font-family: 'flamaextrabold';
    src: url('/plantillas/fonts/flama-extrabold-webfont.woff2') format('woff2'),
         url('/plantillas/fonts/flama-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal 
}

@font-face {
    font-family: 'flamaitalic';
    src: url('/plantillas/fonts/flama_italic-webfont.woff2') format('woff2'),
         url('/plantillas/fonts/flama_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flamaregular';
    src: url('/plantillas/fonts/flama_regular-webfont.woff2') format('woff2'),
         url('/plantillas/fonts/flama_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flamalight';
    src: url('/plantillas/fonts/flama-light-webfont.woff2') format('woff2'),
         url('/plantillas/fonts/flama-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal }

@font-face {
    font-family: 'flamabook';
    src: url('/plantillas/fonts/flama-book-webfont.woff2') format('woff2'),
         url('/plantillas/fonts/flama-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal }

@font-face {
    font-family: 'flamabook-italic';
    src: url('/plantillas/fonts/flama-bookitalic-webfont.woff2') format('woff2'),
         url('/plantillas/fonts/flama-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal }



/* HEADINGS */
    .h1:not([class*="text-"]) a:hover,
    .h2:not([class*="text-"]) a:hover,
    .h3:not([class*="text-"]) a:hover,
    .h4:not([class*="text-"]) a:hover,
    .h5:not([class*="text-"]) a:hover,
    .h6:not([class*="text-"]) a:hover,
    .h1:not([class*="text-"]) a:focus,
    .h2:not([class*="text-"]) a:focus,
    .h3:not([class*="text-"]) a:focus,
    .h4:not([class*="text-"]) a:focus,
    .h5:not([class*="text-"]) a:focus,
    .h6:not([class*="text-"]) a:focus {
        color: #0eafb1
    }

    .h1[class*="text-"] a:hover,
    .h2[class*="text-"] a:hover,
    .h3[class*="text-"] a:hover,
    .h4[class*="text-"] a:hover,
    .h5[class*="text-"] a:hover,
    .h6[class*="text-"] a:hover,
    .h1[class*="text-"] a:focus,
    .h2[class*="text-"] a:focus,
    .h3[class*="text-"] a:focus,
    .h4[class*="text-"] a:focus,
    .h5[class*="text-"] a:focus,
    .h6[class*="text-"] a:focus {
        opacity: 0.4 }

    .content a:hover,
    .content a:focus{
        color: #0eafb1;
    }



.content p a {
    color: #0eafb1 }


@media (min-width: 1200px){
	.h1 {
		font-size: 4.4em }
}

/* FILL BTN */
.fill-btn{
        box-shadow: inset 0px 0px 0px 1px #0eafb1;
    }

.fill-btn:hover, .fill-btn:focus{
        color: #0eafb1;background-color: rgba(0, 153, 204, 0.5) }

    .fill-btn.bg-primary{
        box-shadow: inset 0px 0px 0px 1px #20335d;
    }

    .fill-btn.bg-primary:hover,
    .fill-btn.bg-primary:focus{
        background-color: rgba(49, 65, 111, 0.5);
        color: #20335d;
    }

    .fill-btn.bg-primary-light{
        box-shadow: inset 0px 0px 0px 1px #0099cc;
    }
    .fill-btn.bg-primary-light:hover,
    .fill-btn.bg-primary-light:focus{
        background-color: rgba(0, 153, 204, 0);
        color: #0eafb1;
    }

    /*header */
    #header #client-btn:hover,
    #header #client-btn:focus,
    #header #search-btn:hover:after,
    #header #search-btn:focus:after,
    #header #menu-btn:hover:after,
    #header #menu-btn:focus:after{
        box-shadow: none; opacity: .8
    }


#header #search-holder #search-form .btn:hover:after, #header #search-holder #search-form .btn:focus:after {
    box-shadow: none;
}

#header #search-holder #search-form .close-btn:focus, #header #search-holder #search-form .close-btn:hover {
    box-shadow: none }

#header .fixed{
    background-color: #173363 }
#header .ghost .fixed{
    background-color: #173363 }

#header, #header .fixed {
    height: 76px;
}


#header #logo {
    width: 100%;
    max-width: 150px; margin-top: 10px
}

#header a:focus{ box-shadow: none }
	#header #logo a:before { padding-bottom: 0 }
	#header #logo a:focus:after{ box-shadow: none }



#header #menu-btn span { width: 18px }

	#header .btn-position > .btn, #header .btn-position > .btn > .btn {
    width: 30px;
    height: 30px;
}

#header .btn-position > .btn, #header .btn-position > .btn > .btn {
	background-color: transparent; border: 1px solid #FFFFFF;
	border-radius: 0 
}

#header #search-btn .icon { 
	background-size: auto 17px 
}

#header #search-holder #search-form input {
    font-size: 1.8em }


#header #search-holder #search-form .submit-btn .icon {
    background-image: url(../images/icons/search-btn-ucu.svg);
}

#header #search-holder #search-form .close-btn span, 
#header #search-holder #search-form .close-btn span:before {
    background-color: #947eaf }


#header #client-btn .icon {
    background-image: url(../images/icons/icono_alerta.svg);
	background-size: auto 35px
}

#header #search-holder #search-form { max-width: 320px; border-radius: 0; margin-top: -15px }
#header #search-holder #search-form:hover { border: 0}

#header .fixed > .wrapper {   height: auto }

@media (max-width: 600px) {
	
	#header #search-holder #search-form.show { 
	    margin-top: 40px;
    width: calc(100vw - 40px);
    max-width: inherit;
    right: -30px}
		}

@media (min-width: 980px) {
	/* header */
	#header #logo  { margin-top: 0 }
	#header, #header .fixed { height: 130px }
	#header .fixed { transition: all 400ms }

	#header.ghost:not(.has-background) #logo  {   max-width: 150px !important; margin-right: 0}
	#header #logo { max-width: 130px !important; margin-right: 20px}
	
	#header.ghost:not(.has-background) .fixed .topnav { background-color: transparent;  margin-top: 30px }
	#header .fixed .topnav { background-color: #dedfe1; margin-top: 0; height: 35px;  padding-top: 8px }
	#header .fixed .topnav a {color: #173363}

	#header .fixed .topnav .menu, 
	#header.ghost:not(.has-background) .fixed .topnav .menu { margin-right: 60px }
	
	#header.ghost:not(.has-background) .fixed .logomasmenu { margin-top: 10px }
	#header .fixed .logomasmenu{ margin-top: 13px;
	 -webkit-transition:
        -webkit-transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition:
        -o-transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition:
        transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000)
	}
	
	#header.ghost:not(.has-background) .fixed .btn-position[class*="right-"] { top: 50px }
	#header .fixed .btn-position[class*="right-"] {  top: 22px }
	
	
	#header .fixed .btn-position > .btn {border: 1px solid #173363}
	
	#header #menu-btn span, #header #menu-btn span:before, #header #menu-btn span:after { background-color: #173363 }
	
	#header.ghost:not(.has-background) .fixed #menu-btn span,
	#header.ghost:not(.has-background) .fixed #menu-btn span:before, 
	#header.ghost:not(.has-background) .fixed #menu-btn span:after {  background-color: #FFFFFF }
	
	#header.ghost:not(.has-background) .fixed #menu-btn.open span {  background-color: transparent}
			
	#header #search-holder #search-form .submit-btn {
		right: 24px;
	}

	#header #search-holder #search-form .close-btn {
		right: 2px;
	}
	#header #search-btn .icon {   background-size: auto 15px }
	#header #search-btn .icon { background-image: url(../images/icons/search-btn-bk.svg)}
	
	#header .fixed .menutop {   margin-right: -20px;font-size: 1.5em }
			
	
	
	#header.ghost:not(.has-background) .fixed .tuentrevista  { margin-top: 4px }
	#header.ghost:not(.has-background) .fixed .tuentrevista span {  border: 1px solid #FFFFFF; background-color: transparent }
	#header.ghost:not(.has-background) .fixed .tuentrevista span:hover {  border: 1px solid #173363; background-color: #ea5b0c }
	#header.ghost:not(.has-background) .fixed .tuentrevista span:hover a, #header .fixed .tuentrevista span:hover a, #header .fixed .tuentrevista span a {  color: #FFFFFF !important}
		
	#header .fixed .tuentrevista {  margin-top: 6px; font-size: 1.5em; margin-right: 68px }
	#header .fixed .tuentrevista span { border: 1px solid #ea5b0c; background-color: #ea5b0c; padding: 6px 12px 5px 12px }
	#header .fixed .tuentrevista span:hover { border: 1px solid #ea5b0c; background-color: transparent}
	#header .fixed .tuentrevista span:hover a { color: #173363 !important }
	
	#header.ghost:not(.has-background) .fixed #search-btn .icon {	filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(191deg) brightness(106%) contrast(101%) }
	#header .fixed #search-btn .icon { filter: invert(12%) sepia(72%) saturate(2082%) hue-rotate(216deg) brightness(86%) contrast(91%) }
	
	#header.ghost:not(.has-background) .fixed .btn-position > .btn {border: 1px solid #FFFFFF}
	
	#header[data-right-md-btns="2"].ghost:not(.has-background) .fixed > .wrapper,
	#header[data-right-md-btns="2"] .fixed > .wrapper {
    padding-right: 20px;
}
	
	
	
#nav {
    margin-left: 0;
	margin-right: 0;
    width: calc(100% - 170px)

}
	
	#nav .menu {  padding-top: 10px }
	#nav .menu > .item > a { font-size: 2.2em; font-weight: 400 }
	#nav .menu > .item > a:after {display: block; content: ""; margin-top: 4px; width: 26px; height: 3px;background-color: #0eafb1 }
   #nav .menu > .item + .item{ margin-left: 12px }
}


@media (max-width: 1122px) {
		#nav .menu > .item > a { font-size: 2em }
	#nav .menu > .item > a {  padding: 5px 6px 9px }}



@media (min-width: 768px) {
	#header #search-holder #search-form { width: 320px }
#header .fixed .topnav .menu, 
	#header.ghost:not(.has-background) .fixed .topnav .menu { margin-right: 90px }
}

@media (min-width: 1226px){

#header .btn-position.right-xs-2 {
    margin-right: -534px }

	#nav .menu > .item > a {
    padding: 7px 13px 11px;
}

	
#nav .menu > .item:last-child {
    padding-right: 0 !important }
	
	
}
@media (min-width: 768px) and (max-width:979px){
	#header .btn-position.right-xs-2 {
    right: 59px }}

@media (min-width: 981px) and (max-width:1200px){
	#header .btn-position.right-xs-2 {  right: 80px }}



@media (max-width: 979px){
	
		
	#nav > .holder {
    background-color: #173363 }
	
	#nav {
		height: calc(100vh - 80px);top: 76px; text-align: left }
		

	#nav .menu { 
		margin-top: 30px 
	}

	
	#nav .menu > .item:first-child {
	    border-top: 0
	}

	#nav .menu > .item {
		border-bottom: 0;
		padding: 0 
	}
	
		#nav .menu > .item > a {
		font-size: 1.6em;
		color: #009CE5; padding: 5px 7px 
	}

	#nav .simple-menu > .trigger:before {
		border: solid #009CE5;
		border-width: 0 2px 2px 0 }
		
	.testimonios .h5 {
		font-size: 1.6em }
}


/*slider intro */
.fondointro { position:relative;padding: 40px; min-height: 200px }
.intro .bx-controls-direction a {
    border-radius: 50% }

.intro .bx-controls-direction a:before {
    width: 12px;
    height: 12px }


.intro .overlay { opacity: 0.4 }

.intro:not([class*="bg-"]) {
    background-color: transparent }

.fondointro .h4 { color: #FFFFFF; text-transform:uppercase; font-weight:600; font-size:3.6em }
.fondointro .h4 a:hover { color: #FFFFFF; opacity: .5 }
.fondointro .h4:after {  content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #FFFFFF;
    margin-top: 25px;}	
	

.intro.intro-xxl.scaled { background-color: #0eafb1 }

@media (max-width: 980px){

	.intro .holder .col-sm-12 {
    width: 100%;
    box-sizing: border-box;
}
		

}


/* accesos home  */
#accesos .masinfo { position:absolute; bottom:29px; right:30px; font-weight:800 !important; font-size:4em  }
#accesos .masinfo a:hover { color:#FFFFFF }
#accesos .h5 { font-weight: 600;color:#FFFFFF  }

/* carousel noticias */
/* violeta  */
#noticias .centros .owl-carousel .owl-item:nth-child(1n){
background-color: #a189bd }


/* amarillo  */
#noticias .centros .owl-carousel .owl-item:nth-child(2n){
background-color: #f7c600 }


/* naranja  */
#noticias .centros .owl-carousel .owl-item:nth-child(3n){
background-color: #e07219 }



/* centros  */
.blocks-carousel .carousel .block-card { margin: -1px }	
.centros.blocks-carousel .block-card .holder { padding-right: 0; padding-left: 0 }
.centros.owl-carousel .owl-item { padding: 0; padding-bottom: 0 }
.centros.blocks-carousel .owl-nav div{
    background-color: #173363;
    border-radius: 50%}

.centros.blocks-carousel .owl-nav a:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 2px;
    border: solid #fff;
    border-width: 2px 0 0 2px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box }
.centros .h2 { font-size: 4em }
.centros .h3 { font-size: 3.2em; font-family: 'flamasemibold', sans-serif; line-height: .95em; text-transform: uppercase}



/* nota y testimonios */
	
	



.testimonios {	background-image: url(../images/fdotest.gif); padding:0 30px 20px 30px } 
.testimonios_noticias {	background-color: #a189bd }
.testimonios .h6 { color:#FFFFFF; z-index: 9999 }
.testimonios .h6 { font-weight: 400; line-height: 1.5em; font-size: 1.8em; margin-top: 0; text-align: left }
.testimonios .h5 { color:#FFFFFF }

.testimonios .content-out:before{
    content: "";
    width: 65px;
    height: 56px;
    display: block;
    position: absolute;
    background-image: url(../images/comillas_inicio.svg);
	margin-top:0; z-index: -2;background-repeat: no-repeat }

.testimonios .content-out:after{
    content: "";
    width: 65px;
    height: 56px;
    display: block;
    position: absolute;
    background-image: url(../images/comillas_fin.svg);
    right: 30px;
    bottom: 60px; z-index: -2;background-repeat: no-repeat;
}
.testimonios .content-out, .testimonios .contenedor {
    padding-bottom: 20px;
}

.testimonios_carreras {
    background-image: url(../images/fdo_testimonios_internacionales.png);
}



@media (min-width: 768px){

.testimonios .content-out, .testimonios .contenedor {
    padding-bottom: 12px }
}


@media (max-width: 767px){
	
	.intro.scaled .overlay .bg-grey-dark {
    background-color: #0eafb1;
}
	
	.testimonios .h6 { padding: 0 20px }
}

.testimonios .owl-carousel .owl-item img { float: none; padding-right: 0; padding-bottom: 30px }
.testimonios .intro .bx-controls-direction a {
    background-color: #009DA0; top: 19% 
}


.testimonios .content-out:before{
        width: 55px }

.testimonios .content-out:after{
        width: 55px }
	
	
	
.testimonios .content-out, .testimonios .contenedor { position: relative}
.testimonios .content { position: relative; margin-top:20px }


#menu-izq-ctrl {
    display: none;
}


.barraprogreso img { background-image: url(../images/loading2.gif);
    background-size: 30px;
background-position: center; 
background-repeat: no-repeat }


.centros .news-relation-container figure {  position: relative;box-sizing: border-box; flex: 1 1 22% }
.centros .news-relation-container {  display: flex; align-items: center }


#testimonios .intronotas .bx-controls-direction a { width: 38px;
    height: 38px; }



/*testimonios carousel */

#testimonios .ucu-carousel .contenedor {
    margin: 0px 40px
}


#testimonios .ucu-carousel .owl-nav .owl-next {
   right: 27px }


#testimonios .ucu-carousel .owl-nav .owl-prev {
    left: 26px }

@media (min-width: 980px){
#testimonios .intronotas .news-relation-titular { margin: 0 40px 0 25px; flex: 1 1 18%  }
#testimonios .intronotas .news-relation-titular { margin: 0 40px  }


#testimonios .intronotas .news-relation-titular {
    margin: 0 20px 0 60px }
	
	#testimonios .ucu-carousel .contenedor {
    margin: 0px
}
	
}

@media (max-width: 768px){
#testimonios .news-relation-container figure {
    margin: 0 25px;
}
	
	.video_slide .ucu-carousel .owl-nav div {
    left: 30px }

.video_slide .ucu-carousel .owl-nav .owl-next {
    left: auto;
    right: 30px;
}
	
	
	
}

@media (min-width: 769px)and (max-width: 979px){
#testimonios .ucu-carousel .contenedor {
    margin: 0 105px;
}

#testimonios .ucu-carousel .owl-nav .owl-prev {
    left: 91px;
}
#testimonios .ucu-carousel .owl-nav .owl-next {
    right: 91px;
}
	
	#testimonios .ucu-carousel .owl-nav div {
    top: 20%;
}
	
	
}




	@media (min-width: 980px) {
		#testimonios .ucu-carousel .owl-nav div {background-color: #0eafb1; top: 31% }


		.testimonios {  padding:0 50px 17px 50px }
			.testimonios .intro .bx-controls-direction .bx-next { right: -20px }
		.testimonios .intro .bx-controls-direction .bx-prev { left: -20px }
		.fondointro { background-color: #0eafb1; padding-right: 80px; margin-right: 50px;display: flex;
    align-items: center }
		
		
	}	

	@media (max-width: 767px){
		.testimonios .content-out { margin: 20px 10px 0 10px }
}


@media (min-width: 1200px) {


	.intronotas .bx-controls-direction .bx-next { right: 15px }
.intronotas .bx-controls-direction .bx-prev { left: 15px }
.testimonios .intro .bx-controls-direction .bx-prev {
    left: 8px;
}.testimonios .intro .bx-controls-direction .bx-next {
    right: 8px;
}
	
	
}



@media (max-width: 480px){
	#accesos.wrapper, #notas_testimonios.wrapper { padding-right: 0; padding-left: 0;overflow: hidden }
	.testimonios .contenedor { padding: 0 }
	.testimonios .intro:not([class*="bg-"]) { background-color: #173363 !important; margin: 0 15px }
	}



/* tabs */
.tabs .tab.active { background-color: #00A0FF }
.tabs .tab.active a { color: #FFFFFF }
.tabs .tab:not(.active):hover{ color: #00A0FF }
.tab-content a { color: #00A0FF; font-weight: 400 }
.tab-content a:hover { opacity: .6}





@media (max-width: 979px){
	
	.testimonios .h5 {
		font-size: 1.6em }
}



@media (max-width: 979px) {
	.noticia { overflow: hidden }

	.intro.scaled .bx-controls-direction a {top: 56vw;}
	.fondointro { min-height: 200px; margin-right: 10px; padding: 40px }
	
	
	
	.intro.scaled .picturegde:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25% }
	.intro .picturegde:not([class*="img-"]) { background: no-repeat top/contain; opacity: .8 }
	
	.intro .holder  { padding-top: 20px }
	.centros.blocks-carousel .block-card .holder { padding-right: 60px }
	.centros p { padding-right: 10px }
	
	#centros .centros p{ padding-right: 35px }
	.centros.blocks-carousel .owl-nav div { top: 50% }
	.fondointro .h4 {font-size: 3.3em;}
	.fondointro .text.text-primary {font-size: 1.7em;}
	
	

	
	/* testimonios */
	#testimonios .ucu-carousel .owl-nav div {top: 25% }

}

@media (min-width: 980px) {
	
	

	
	
	/* testimonios */
	.testimonios_noticias {	background-image: url(../images/fdo_testimonios_notas.gif); padding:0 20px }

	.testimonios .content:after{
		right: 10px;
		bottom: -150px }

	.testimonios .intro .bx-controls-direction a {
    top: 32% }
	
	.testimonios .h6 { line-height: 1.4em;
    font-size: 2.3em;
    padding: 10px 30px 0 30px }
	
	.testimonios .h5 {  font-size: 1.9em }
/*	.testimonios .content {   margin-top: 50px }
*/	
	
	/* centros */
	#centros.wrapper .blocks-carousel .owl-nav .owl-next {  right: -20px}
	#centros.wrapper .blocks-carousel .owl-nav .owl-prev {  left: -20px }
	
	

	/* despliegue uc */
	.intro_uc {margin-top: 39px }
	.despliegue {padding-top: 100px }
	
	/* popup */
	.popup > .holder .close-btn:hover span,
    .popup > .holder .close-btn:focus span,
    .popup > .holder .close-btn:hover span:before,
    .popup > .holder .close-btn:focus span:before{
        background-color: #57a7dc;
    }
    .popup > .holder .close-btn:focus{
        box-shadow: inset 0px 0px 0px 1px #57a7dc;
    }

}


	
@media (min-width: 1200px){
	/*genericos */
	.h3 { font-size: 3.5em }

	/* cabezal */
	.content h2 { font-size: 2.6em }
	.bg-primary-light.contenedor-slider { margin-top: 39px }
	.centros .h3 { font-size: 3.3em }


}


@media (min-width: 980px){
/* intro */
  	.intro.intro-xxl.align-middle:before, .intro.intro-xxl .slide.align-middle:before{ min-height: 650px !important }
	.intro .picturegde:not([class*="img-"]) { background: no-repeat center/cover }
	
	.intro .picturegde, .intro .overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0 }
	
	.intro .bx-controls-direction a {
    width: 38px;
    height: 38px }
	
	
	

	.home_notas.blocks-carousel .block-card .holder {
    padding-right: 0;
    padding-left: 0 }
	
	.intro .column-overlay .overlay {
    width: 100%;
    left: 0;
    right: 0 }

  .intro.intro-xxl.align-middle:before,
  .intro.intro-xxl .slide.align-middle:before{
        min-height: 768px }
	
	.content h2 { font-size: 2.4em }
	.noticia .content { padding: 15px 0 0 }
	.noticia { margin-right: 0; margin-left: 0 }
	.content p, .content ul li, .content ol li { margin-top: 15px; line-height: 1.6 }
	.content img, .content iframe {
    margin-top: 0;
    padding-bottom: 20px }
	
	.content iframe {
    height: 320px }
	
	.table thead tr > *:last-child, .table tbody tr > *:last-child { padding-right: 0 }
	.tabs { max-width: 100%; margin: 0 auto }

	/*agenda */
	#ContenidoAgenda .col-sm-7 { width: 57.333333% }
}


@media (max-width: 980px){
	.breadcrumb { padding-left:0 }

	
	.cabezal_categoria .section-t { padding-top: 20px !important}
	
	
}

@media (max-width: 980px){
	.testimonios { margin-top: -40px; padding: 80px 30px 20px 30px }
	.testimonios .intronotas .news-relation-titular {
    margin: 0 50px 0 18px;
    flex: 1 1 12% }

	.notastest { padding-left: 0; padding-right:0 }	
	
	.testimonios .intronotas .bx-controls-direction .bx-next { right: -15px}
	.testimonios .intronotas .bx-controls-direction .bx-prev { left: -15px}
	
}

@media (min-width: 1300px){

	.intro .bx-controls-direction .bx-next {
		margin-right: -583px;
		margin-left: auto
	}
	
	.intro .bx-controls-direction  .bx-prev {
		margin-left: -582px 
	}
		
    .intronotas .bx-controls-direction a{
		margin-left: -26px;
		background-size: 30px;
	}

}

.home_notas .owl-carousel .owl-item img  { width:150px; margin-right: 0; border-radius: 0 }
.home_notas .blocks-carousel .block-card .holder {
    padding-right: 0;
    padding-left: 0 }

.home_notas .owl-carousel .owl-item { padding-bottom: 0; border: 2px solid #20335d }
.home_notas .blocks-carousel .carousel .block-card {  margin-top: 10px; margin-bottom: 0 }


.block-card {
    border-radius: 0;
    box-shadow: none;    box-shadow: 0;
    text-align: left;
	background-color: transparent
}

.block-card .holder { padding: 0 0 }
.block-card .picture { margin-top: 0 }



/* OWL CAROUSEL */
.testimonios .blocks-carousel .owl-nav div{
    width:44px;
    height:44px;
    margin:0;
    z-index:10;
    background:no-repeat center;
    background-size:36px;
    background-image:url(../images/flecha@3.png);
    background-image:url(../images/adelante.svg), none;
    opacity:1;
    cursor:pointer;
	background-color: transparent;
    -webkit-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
	box-shadow: none
}


@media (min-width: 980px) and (max-width: 1299px){
.blocks-carousel .block-card .holder {
    padding-right: 0;
    padding-left: 0;
}
}

@media (min-height: 800px) and (min-width: 1200px){
	.blocks-carousel .carousel { margin-top: 0;    padding-top: 35px }
	
}



/* datos al pie ini */

.datospie .h1 { font-size: 5em; font-family: 'flamaextrabold', sans-serif }

@media (min-width: 980px) {
	.datospie .h1 { font-size: 7em}
}

		
	
@media (min-width: 1200px){
		.datospie .h1 { font-size:8em}
}

@media (max-width: 768px){
.datospie .col-xs-6 { width: 39%; padding-bottom: 20px }
}

		/* datos al pie fin */



/* footer */
#footer {
    background: #1c2a47;
    margin-top: 0;
    line-height: 2.8em;
    color: #FFFFFF; text-align: left; padding: 20px 0}
	
	
#footer .top {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 0;
	border-bottom: 0 }

#footer .top .logo { 
    position: absolute;
    right: 0;
    top: -8px;
    font-size: 1.6em;
    margin: 0;
    opacity: .5; text-align: right
	}

#footer .top .logo a:after{display: none }
#footer .top .logo:before{ 
    background: none;
    background-image: none;

}
	

#footer h5, #footer p { font-size:1.6em; color:#FFF; line-height: 1.9em; margin-top:0 }
#footer p.seleccionecampus {opacity:0.6; margin-left:7px;line-height: 1.5em}

#footer a { color:#FFF}
#footer a:hover { color:#FFF; opacity:.7}
#footer a:after{
	content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
	margin-bottom: 1px;
	margin-left:8px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#footer ul { font-size:1.6em }
#footer .strong { font-weight: 800 }
#footer .iconos li  { list-style:none; display: inline-block; padding-right: 10px}
#footer .iconos li:last-child {padding-right: 0}
#footer .iconos li a:after {content:none}

#footer li:after  { content: "" }
#footer .bg-primary-footer { background-color: #25345d }
#footer .paddinginterno { padding: 20px }
#footer .styled-form .input-holder .select select.placeholder { font-style: normal; font-weight:800; color:#FFF !important }

#footer a.email {padding-left: 23px; position: relative }
#footer a.email:after {content: none}
#footer a.email:before {content: "";
    display: inline-block;
    width: 22px;
    height: 12px;
    position: absolute;
    top: 50%;
	left: 0;
    margin-top: -6px; background-image: url(../images/icons/ico_mail_w.svg);
    background-size: 15px;
    background-repeat: no-repeat }


#footer .styled-form .input-holder .input, 
#footer .styled-form .input-holder .select select.placeholder { background-color:#25345d; box-shadow: none; border-bottom: 2px solid #0671aa; margin-bottom:5px }
#footer .styled-form .input-holder .select { margin-top: 5px;background-color:#25345d }
#footer .styled-form .input-holder .select select { background:#1c2a47}
#footer .styled-form .input-holder .select select.placeholder{ background-color: #25345d; border-radius: 0 }
#footer .styled-form .input-holder .select:before{
    border: solid #0671aa;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
	z-index:9999;
	right: 7px; 
	color:#FFF
}
	
	#footer .styled-form .input-holder .label { color: #FFFFFF }
	#footer .styled-form .input-holder .input,
	#footer .styled-form .input-holder .select select { color: #FFFFFF; padding: 6px 0 7px 7px }
	#footer .logoucu_footer { display: none }	
	#footer .desarrollo  { display:none }

@media (min-width: 980px){
	#footer { padding: 0; line-height: 3.8em }
	#footer .paddinginterno { padding: 40px 35px 10px 35px }
	#footer .logoucu_footer { display: block}
	#footer .col-md-4.bg-primary-footer { min-height: 605px }
	#footer .styled-form .input-holder .select{ max-width: 280px }
	#footer .styled-form .input-holder .select select { background:#25345d}
	#footer ul.menu {
		font-size: 1.6em }
	
	
}

@media (min-width: 768px){
	#footer .col-sm-4 { width: 32.333333% }
}

@media (max-width: 480px){
	#footer .strong { margin-top: 20px }
	#footer	.styled-form .input-holder .select { max-width: 240px }
	#footer .styled-form .input-holder { margin-top: 5px }
	#footer .styled-form .input-holder .select select.placeholder{ background-color: #1c2a47; border-radius: 0 }
	#footer .col-sm-12 .paddinginterno {padding: 0 20px 0 10px }
	
}
@media (max-width: 767px){

	#footer .desarrollo { display:block; opacity: .5 }
	#footer .desarrollo a:before { background-image: none }
}

/* Categoria */
#cab_categoria { padding-top: 0px }
#cab_categoria .section-t { padding-top: 0 }

.bloqueconmargen { padding: 36px 35px; position:relative }
.bloqueconmargen .masinfo {
	z-index: 1 }
	

@media (min-width: 768px) and (max-width: 1024px) {
.bloqueconmargen {
	height:120px; 
	box-sizing: border-box;}
	}


/* BREADCRUMB */
.breadcrumb {
	background-color:#FFF;
	border-bottom:solid 1px #e5e5e5;
	font-size: 1.9em; color: #999
}

.breadcrumb a { 
	font-size:.8em !important;
	color:#474747 !important;
	padding:2px 7px 2px 7px}
.breadcrumb a:first-child { padding-left:0 }

/*iframe-videos*/
.iframe-videos {
  position: relative;
  height: 0;
  background-color:#000;
  padding-bottom: 56.25%;margin-top:0 }

.iframe-videos iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top:0 }




/* NAV */
	
#side-nav{
    display: none;
    width: 100%;
    height: 100%;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 100;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#side-nav .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#side-nav > .holder{
    width: 300px;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #173363;
    box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.4);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#side-nav .scrollable{
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




/* Nav transitions */
#side-nav{
    opacity: 0;
    overflow: hidden;

    -webkit-transition:
        opacity 350ms ease-out;
    -o-transition:
        opacity 350ms ease-out;
    transition:
        opacity 350ms ease-out;
}
#side-nav > .holder{
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);

    -webkit-transition:
        -webkit-transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition:
        -o-transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition:
        transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#side-nav.show{
    opacity: 1;
}
#side-nav.show > .holder{
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


#side-nav .tuentrevistaCH span { padding: 4px 12px; border: 1px solid #FFFFFF}
#side-nav .tuentrevistaCH span a:hover { color: #FFFFFF  }

#side-nav .menu > .item { border: 0; }
#side-nav .menu > .item:first-child {
    border-top: 0 }

#side-nav .menu > .item:last-child {
    border-bottom: 0 }

	#side-nav .menu > .item > a {
    display: inline-block;
    padding: 2px 40px;
    font-size: 1.9em;
    font-weight: 400;
    line-height: 1;
    color: #FFFFFF;
}

#side-nav .menu.menuCH > .item > a {
	font-size: 1.6em }

#side-nav .simple-menu.first-level > .submenu{ margin-top: 0 }

#side-nav .simple-menu.first-level > .submenu:before {
    background-color: #009ce6 }
	
#side-nav .simple-menu.first-level > .submenu > .list {
	padding-left: 20px;font-size: .9em; }
	
#side-nav .simple-menu > .trigger {
    padding-left: 40px !important }


#side-nav .simple-menu .trigger:before, #side-nav .simple-menu .simple-menu .trigger:before {
	left: 21px }
	

#side-nav .simple-menu .submenu .list:before {
    border: 0
}

#side-nav .simple-menu .submenu .list > .item > a:hover
{
    color: #FFFFFF; opacity: .8
}

#side-nav .simple-menu .submenu .list > .item > a:before {
    border: 0
}

@media (min-width: 768px){
#side-nav .simple-menu .submenu .list {
    padding-top: 0}}



/* Close btn */

#side-nav .close-btn{
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    right: 6px;
    top: 6px;
}
#side-nav .close-btn:before,
#side-nav .close-btn:after{
    content:"";
    display:block;
    width:18px;
    height:2px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    background-color:#fff;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#side-nav .close-btn:after{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


@media (min-width: 768px) {
    #side-nav .scrollable{
    	padding: 56px 20px
    }

#side-nav .menu {
    margin: 20px 0;
    padding: 0 }

}



@media (min-width: 980px){
#side-nav > .holder {
	width: 380px }

	#side-nav .bg-primary-light{
	background-color: #173363; margin-top: 0 }

	    #side-nav .scrollable{
    	padding: 56px 30px
    }
	
	
}

 /* NAV fin */


/* menu topnav ini */
/* Simple menu */
	#header.ghost:not(.has-background) .fixed  .topnav a { color: #FFFFFF}
	#header .fixed .topnav a {  color: #173363 }

.topnav .menu, 
.topnav .menu > .item, 
.topnav .menu > .item > a {
    display: inline-block;
    vertical-align: middle;
}

.topnav .menu > .item > a { font-size: 1.5em; padding: 5px 12px }
.topnav .menu > .item > a:last-child {padding-right: 0}


#header.ghost:not(.has-background) .fixed  .simple-menu.first-level > .submenu > .list {
   	background: #173363;
	text-align: left}


#header .fixed .simple-menu.first-level > .submenu > .list {
   	background: #0eafb1;
	text-align: left}

#header .fixed .simple-menu.first-level > .submenu > .list a {
   	color: #FFFFFF}

#header .fixed .simple-menu.first-level > .submenu > .list a:hover {
   	color: #FFFFFF;
opacity: .8}

.simple-menu > .trigger:before {
    border: solid rgba(255, 255, 255, 1);
	border-width: 0 2px 2px 0 }
	
.simple-menu.first-level.open > .trigger {
	background-color: transparent}
	

.simple-menu.first-level > .submenu .item > a {
	color: #FFFFFF
   }

#nav .simple-menu.first-level > .trigger:after {
    width: 12px;
    height: 12px;
    background-color: transparent;
	border-color: #0eafb1;
    border-width: 0 3px 3px 0; top: -5px;
margin-bottom: 7px}


	#nav .simple-menu.first-level.open > .trigger {
    color: #FFFFFF !important }

#nav .simple-menu.first-level.open > .trigger:after {
    border-color: #FFFFFF !important }




@media (min-width: 980px){
.topnav .simple-menu.first-level > .submenu {
   width: 200px;
	top: 34px; }
	
	
	#header.ghost:not(.has-background) .fixed #nav .simple-menu.first-level > .submenu {
    top: 33px }
	
	#header .fixed #nav .simple-menu.first-level > .submenu {
    top: 59px }
	
	

	
	#nav .simple-menu.first-level.open > .submenu:hover {
		width: 300px;
		transition-property: width;
		transition-duration: 0.8s;
		transition-timing-function:linear;
		transition-delay: .3s }
	}


/* menu topnav fin */
.simple-menu a:hover{ color: #f78823}
	
	
@media (min-width: 980px) {
#topnav .menu > .item, #topnav .menu > .item > a {
    display: inline-block;
    vertical-align: middle;
}

    #topnav .simple-menu.first-level > .trigger:before{
        display: none !important;
    }
	
	#header.ghost:not(.has-background) .fixed .topnav .simple-menu.first-level > .trigger:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        position: relative;
        top: -3px;
        margin-left: 10px;
        border: solid #FFFFFF;
        border-width: 0 2px 2px 0;

        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-transition:
            border-color 200ms ease-out,
            -webkit-transform 200ms ease-out;
        -o-transition:
            border-color 200ms ease-out,
            -o-transform 200ms ease-out;
        transition:
            border-color 200ms ease-out,
            transform 200ms ease-out;
    }
	

	#header .fixed .topnav .simple-menu.first-level > .trigger:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        position: relative;
        top: -3px;
        margin-left: 10px;
        border: solid #173363;
        border-width: 0 2px 2px 0;

        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-transition:
            border-color 200ms ease-out,
            -webkit-transform 200ms ease-out;
        -o-transition:
            border-color 200ms ease-out,
            -o-transform 200ms ease-out;
        transition:
            border-color 200ms ease-out,
            transform 200ms ease-out;
    }
	
	
	
	
	
		
		
    #topnav .simple-menu.first-level > .trigger:hover:after,
    #topnav .simple-menu.first-level > .trigger:focus:after{
        border-color: #f78823 !important;
    }

    #topnav .simple-menu.first-level.open > .trigger:after{
        top: 1px;
        border-color: #FFFFFF;

        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    #topnav .simple-menu.first-level.open > .trigger:hover,
    #topnav .simple-menu.first-level.open > .trigger:focus{
        color: #f78823 !important;
    }
	
	
	#header.ghost:not(.has-background) .fixed .topnav a:hover,
	#header.ghost:not(.has-background) .fixed .topnav a:focus,
	#header .fixed .topnav a:hover,
	#header .fixed .topnav a:focus{
        color: #f78823 }
	
	
	
		
	  }




/*notas y testimonios agregado a bloque_ucu2.css */

#notas_testimonios .intronotas .news-relation-container, testimonios .intronotas .news-relation-container {
    display: flex;
    align-items: center;
}



/* overrides menu 22.05.2023*/
@media (min-width: 980px){
#topnav .menu > .item:first-child {
      text-transform: uppercase;
font-weight:600; font-size: 1.2em
}

#header .fixed .simple-menu.first-level > .submenu > .list a {
     font-size: 1.3em }


}
#side-nav .menu.menuCH > .item:first-child
{
    text-transform: uppercase;
	font-weight:600; font-size: 1.2em}  
#side-nav .menu.menuCH > .item {
   text-transform: none; font-weight: 400 
}

	#header.ghost:not(.has-background) .fixed .topnav a {
    color: #FFFFFF }
	
	
#header .fixed .simple-menu.first-level > .submenu > .list a {
    color: #FFFFFF; text-transform: none; font-weight: 400; font-size: 1.5em
}
#header.ghost:not(.has-background) .fixed .topnav .simple-menu.first-level > .trigger:after{
  border: solid #0eafb1;
    border-width: 0 2px 2px 0   } 


@media (max-width: 768px){

#side-nav .simple-menu.first-level > .submenu {
    margin-top: 10px;
}

#side-nav .simple-menu .submenu {
    padding-left: 20px }

	}



