F@charset "utf-8";
/* CSS Document */

body, html, p {
    font-weight: 400}

.intro.introcarreras .h1 {
    line-height: 1;
}

.intro.introcarreras .h1 strong {
  font-weight: 800  
} 


/* quienes somos */
#cronologia .ucu-carousel .owl-nav div {
    background-color: #FFFFFF;
    border-radius: 50%;
    top: 12%; box-shadow: none
		
}

#cronologia .ucu-carousel .owl-nav div:before {
    width: 18px;
	height: 18px }
		
#cronologia .ucu-carousel .owl-nav .owl-prev:before {
    border: solid #173363;
    border-width: 2px 0 0 2px;
}

#cronologia .ucu-carousel .owl-nav .owl-next:before {
    border: solid #173363;
   border-width: 0 2px 2px 0;
}

#cronologia .ucu-carousel .owl-carousel .owl-item .h2 {
    font-family: 'flamaextrabold', sans-serif; font-size: 5.5em}

#cronologia .ucu-carousel .owl-carousel .owl-item .h2 span {background-color: #FFFFFF; padding: 0 20px}

#misionvision .h3, #autoridades .h4 {
text-transform: uppercase; font-family: 'flamabold', sans-serif;}


#misionvision .h3:after {
    background-color: #a189bd;
    width: 60px;
    height: 4px;
    content: "";
    display: block;
    margin: 5px auto;
    text-align: center;
    position: relative;
    left: -40px;
}

#misionvision .h3.vision:after{
    background-color: #e07219 	
}

@media (max-width: 768px){
	#misionvision .h3.vision { margin-top: 20px}
	
	#cronologia .ucu-carousel .owl-nav div {
    top: 22% }

	#autoridades .col-sm-6.text-right { text-align: left; margin-top: 5px }
	
}


#cronologia .ucu-carousel .owl-carousel .owl-item:nth-child(4n+1) .h2 {
    color: #a189bd;
}
#cronologia .ucu-carousel .owl-carousel .owl-item:nth-child(4n+2) .h2 {
    color: #f7c600;
}

#cronologia .ucu-carousel .owl-carousel .owl-item:nth-child(4n+3) .h2 {
    color: #0eafb1;
}
#cronologia .ucu-carousel .owl-carousel .owl-item:nth-child(4n+4) .h2 {
    color: #e07219;
}

@media (min-width: 980px){

#cronologia .ucu-carousel { background-image: url(/plantillas/images/fondocronologia.svg);background-repeat: no-repeat; background-position-y: 30px;
    background-size: 920px;
    background-position-x: center}
#cronologia .ucu-carousel .owl-carousel .owl-item {padding: 0; font-size: .9em; line-height: .9em }
#cronologia .ucu-carousel p.text {padding: 0 25px}	

}

/* autoridades ini */

#autoridades .owl-carousel .owl-item img {
    HEIGHT: 100%;
}

#autoridades .ucu-carousel .owl-nav div {
    background-color: #0eafb1 
}

#autoridades .news-relation-container {
    display: flex;
    vertical-align: middle; margin-bottom: -2px
}

	#autoridades figure a{
		display: block;
		position: relative;  
		height: 100%;
	}

#autoridades figure a img {
    position: absolute;
    top: 0;
    left: 0;
}


#autoridades figure a{
		display: block;
		position: relative;  
		height: 100%;
	}

	#autoridades figure a:before{
		content: "";
		display: block;
		padding-bottom: 230.53%;
		height: 0;
		width: 100%;
	}

#autoridades figure a img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}


	
	#autoridades .news-relation-texto{
		display: inline-block;
		vertical-align: middle;
	}

	
#autoridades .news-relation-titular a {
		color: #FFFFFF
	}
#autoridades .news-relation-titular a:hover {
		color: #FFFFFF; opacity: .6
	}

#autoridades .news-relation-titular .h5 {color: #FFFFFF }


#autoridades .news-relation-titular .h5:after {
	content: "";
    display: block;
    width: 70px;
    height: 3px;
	margin-top: 10px;
	background-color:#FFFFFF ;
	display: none !important;
}

#autoridades .news-relation-titular {
	position: relative }
	

#autoridades .ucu-carousel figure {
    min-height: 300px;
    max-height: 300px;
}
	

	@media (max-width: 768px){

		#autoridades .news-relation-container figure {
    flex: 1 1 22%;
    margin: -1px 0 0 -1px;
}
	
		
#autoridades .news-relation-titular {
    position: relative;
    flex: 1 1 33%;
    margin: 0 52px 0 0;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

		
		
		#autoridades .owl-carousel .owl-stage-outer {
    margin-left: 30px;
    margin-right: 30px}
		
		
	#autoridades .slider.activateSlider.notInit > .slide {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #a189bd
}
		
	#autoridades .notInit .news-relation-container figure { flex: 1 1 33% }
	

}


	#autoridades .news-relation-titular .h4:after {
	content: "";
    display: block;
    width: 70px;
    height: 3px;
	margin-top: 10px;
	background-color:#FFFFFF 
}



#autoridades .ucu-carousel .h4 { text-transform: inherit; font-family: 'Asap', sans-serif }

#autoridades .news-relation-titular {
    position: relative;
    flex: 1 1 33%;
    margin: 0 52px 0 0;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}


#autoridades .fill-btn {
        box-shadow: inset 0px 0px 0px 2px #0eafb1;
	background-color: #FFFFFF; color: #173363; text-transform: uppercase;border-radius: 0; font-weight: 600;margin-top: 0;     padding: 6px 10px 7px; 
}
#autoridades .fill-btn:hover {
        box-shadow: inset 0px 0px 0px 2px #0eafb1;
	background-color: #0eafb1; color: #FFFFFF
}


	#autoridades .h6 {   font-size: 2em; color: #FFFFFF}
		#autoridades p {   font-size: 1.6em}


#autoridades .bottom-line {
    width: 70px;
    height: 3px;
    content: "";
    display: block;
    margin: 10px 0 5px 0;
    position: relative;
}

#autoridades a:hover {  opacity: 1 }

/* violeta  */
#autoridades .ucu-carousel .owl-carousel .owl-item:nth-child(4n+1) .bottom-line {
    background: #a189bd }
#autoridades .ucu-carousel .owl-carousel .owl-item:nth-child(4n+1) .infomas {color: #a189bd }

/* turquesa  */
#autoridades .ucu-carousel .owl-carousel .owl-item:nth-child(4n+2) .bottom-line
 {   background: #0eafb1 }

#autoridades .ucu-carousel .owl-carousel .owl-item:nth-child(4n+2) .infomas {color: #0eafb1  }

/* amarillo  */
#autoridades .ucu-carousel .owl-carousel .owl-item:nth-child(4n+3) .bottom-line {
    background: #f7c600 }
#autoridades .ucu-carousel .owl-carousel .owl-item:nth-child(4n+3) .infomas {color: #f7c600 }

/* naranja */
#autoridades .ucu-carousel .owl-carousel .owl-item:nth-child(4n+4) .bottom-line {
    background: #e07219 }

#autoridades .ucu-carousel .owl-carousel .owl-item:nth-child(4n+4) .infomas {color: #e07219 }

#autoridades .infomas {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 4em;
    color: white;
    font-weight: 800;
}

@media (min-width: 980px){
	#autoridades .news-relation-titular {
    flex: 1 1 50%;
    padding: 20px;
    margin: 0;
}
	#autoridades .news-relation-container figure {
    flex: 1 1 35%;
}


	
}

/* autoridades fin */


/*institucion*/

#institucion .h3, #dudas .h3, #asociaciones .h3 { color:#FFFFFF;   font-family: 'flamabook', sans-serif }
#institucion .h3 strong, #dudas .h3 strong, #asociaciones .h3 strong { font-family: 'flamabold', sans-serif }
#dudas .h3 { color:#173363 }
#institucion p, #asociaciones p { color: #FFFFFF }


#institucion .fill-btn {
        box-shadow: inset 0px 0px 0px 2px #173363;
	background-color: transparent; color: #FFFFFF; text-transform: uppercase;border-radius: 0; font-weight: 600;margin-top: 0; padding: 6px 10px 7px; 
}
#institucion .fill-btn:hover {
        box-shadow: inset 0px 0px 0px 2px #173363;
	background-color: #173363; color: #FFFFFF
}

	#institucion .row {
   position: relative
}



#institucion img {
opacity: .85
}



#institucion p { margin-top: 20px}

@media (max-width: 768px){
	#institucion .bg-turquesa { margin-left: -30px;margin-right: -30px; overflow: hidden; padding: 25px 10px;}
	#planestra .h3, #universidad .h3, #institucion .h3 { padding-top: 20px}
#planestra .fill-btn, #institucion .fill-btn, #universidad .fill-btn, #profesores .fill-btn { margin-bottom: 20px}

}


@media (min-width: 980px){
#institucion .text-institucion {padding:20px 30px 20px 0}
	
	#institucion .row {
    align-items: center;
    display: flex;min-height: 355px; margin-left: 0px;
    margin-right: 0px }

	#institucion figure img a, #institucion figure img {
object-fit: cover; 
    max-width: 480px;
    overflow: hidden }

#institucion img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 0!important;opacity: .85
}
	
	#dudas .row {
    align-items: center;
		display: flex }
		
}



/*  info extra quienes somos  */
.todas_c{text-align: center;
    background-color: #173363;
    color: #FFFFFF !important;
    padding: 30px 0 22px;
    border-radius: 15px;}

.todas_c .h4{  color:#FFFFFF !important;
}

.fill-btn.todas_c_btn {
    margin-top: -8px;
    margin-left: 20px;
	border-radius: 0;
	background-color: #0eafb1;
	box-shadow: inset 0px 0px 0px 1px #0eafb1;
	font-size: 2.3em;
	font-weight: 800
		
}  

.fill-btn.todas_c_btn:hover, .fill-btn.todas_c_btn:focus {
    color: #0eafb1;
    background-color: transparent;
}

@media(max-width:480px){.fill-btn.todas_c_btn {
	margin-top: 13px;}}

.section.cont_todas_c{padding-top: 60px;
    padding-bottom: 0px;}



/* perfil del graduado */
#perfil .h4 { font-family: 'flamabook', sans-serif }
#perfil .h4 strong { font-family: 'flamabold', sans-serif }

#perfil .text_descripcion  {font-size: 1.6em}
#perfil .ucu-carousel .owl-carousel .owl-item:nth-child(4n+1) .title {color: #a189bd }

/* turquesa  */
#perfil .ucu-carousel .owl-carousel .owl-item:nth-child(4n+2) .title
 {   color: #0eafb1 }

/* amarillo  */
#perfil .ucu-carousel .owl-carousel .owl-item:nth-child(4n+3) .title  {
    color: #f7c600 }

/* naranja */
#perfil .ucu-carousel .owl-carousel .owl-item:nth-child(4n+4) .title {color: #e07219 }

#perfil .slide {min-height: 150px; padding: 20px 65px}

@media (min-width: 980px){
#perfil .slide { min-height: 200px; padding: 20px 30px}}


/* universidad */

#planestra .h3, #carrera_videos .h3, #profesores .h3, #universidad .h3 { color:#FFFFFF;   font-family: 'flamabook', sans-serif }
#universidad p, #profesores p { color:#FFFFFF }

#carrera_videos .h3 strong, #profesores .h3 strong, #universidad .h3 strong { font-family: 'flamabold', sans-serif }
#carrera_videos .h5, #carrera_videos p { color:#FFFFFF }


#universidad .fill-btn {
        box-shadow: inset 0px 0px 0px 2px #f7c600;
	background-color: transparent; color: #FFFFFF; text-transform: uppercase;border-radius: 0; font-weight: 600;margin-top: 0; padding: 6px 10px 7px; 
}
#universidad .fill-btn:hover {
        box-shadow: inset 0px 0px 0px 2px #f7c600;
	background-color: #f7c600; color: #FFFFFF
}



#profesores .fill-btn {
        box-shadow: inset 0px 0px 0px 2px #173363;
	background-color: transparent; color: #FFFFFF; text-transform: uppercase;border-radius: 0; font-weight: 600;margin-top: 0; padding: 6px 10px 7px; 
}
#profesores .fill-btn:hover {
        box-shadow: inset 0px 0px 0px 2px #173363;
	background-color: #173363; color: #FFFFFF
}



	#universidad .row {
   position: relative
}

	#universidad .col-sm-5 .h3 {  font-family: 'Asap', sans-serif;line-height: 1 }

@media (min-width: 980px){
	#universidad .col-sm-5 .h3 {
font-size: 3.1em}
	
	#profesores .row{
    align-items: center;
    display: flex; min-height: 300px }
	
	
	
	#universidad .row {
    align-items: center;
    display: flex; min-height: 395px;background-color: #173363 }
	
	#universidad .col-sm-7, #institucion .col-sm-7 { padding: 50px }
	
	#universidad .col-sm-5.bg-primary-comp { align-items: center;
    display: inline-flex;  margin-left: 0px;
    margin-right: 0px; min-height: 411px }
	
	
	#planestra .row {
    align-items: center;
    display: flex; min-height: 255px }
	
		
}



@media (max-width: 768px){
	#universidad .col-sm-7.bg-primary,
	#universidad .col-sm-5.bg-primary-comp { padding: 20px 30px 30px }
	
}

/* videos */

#carrera_videos .fill-btn {
        box-shadow: inset 0px 0px 0px 2px #e07219;
	background-color: transparent; color: #FFFFFF; text-transform: uppercase;border-radius: 0; font-weight: 600;margin-top: 20px; padding: 6px 10px 7px; 
}
#carrera_videos .fill-btn:hover {
        box-shadow: inset 0px 0px 0px 2px #e07219;
	background-color: #e07219; color: #FFFFFF
}

/* plan estrategico */

	
#planestra .fill-btn {
        box-shadow: inset 0px 0px 0px 2px #a189bd;
	background-color: transparent; color: #FFFFFF; text-transform: uppercase;border-radius: 0; font-weight: 600;margin-top: 20px; padding: 6px 10px 7px; 
}
#planestra .fill-btn:hover {
        box-shadow: inset 0px 0px 0px 2px #a189bd;
	background-color: #a189bd; color: #FFFFFF
}

/* internacionales */
.introcarreras.internacionales .h1 u {
   border-bottom: 6px solid #f7c600;
}
.introcarreras.internacionales .h1 {
    font-weight: 700 }

.intro.internacionales .overlay {
    opacity: 0.7;
}

#doscontenidos .h4 {
text-transform: uppercase; font-family: 'flamabook', sans-serif;}
#doscontenidos .h4 strong { font-family: 'flamabold', sans-serif;}

#doscontenidos .contenidouno .h4 u {
    padding-top: 3px;
    border-bottom: 6px solid #a189bd;
}

#doscontenidos .contenidodos .h4 u {
	padding-top: 3px;
    border-bottom: 6px solid #e07219 }

#doscontenidos p { color: #173363 }
#doscontenidos .contenidodos{ padding-top: 20px}

/* programas de intercambio */

#programas .h4, #notas_inter .h3 { text-transform: uppercase; font-family: 'flamabook', sans-serif; font-size: 3em}
#programas .h4 strong, #notas_inter .h3 strong { font-family: 'flamabold', sans-serif;}

	#programas .col-sm-4 { margin-bottom: 30px }

#programas .col-sm-4:nth-of-type(3n+1) .h5 {color: #e07219 }
#programas .col-sm-4:nth-of-type(3n+2) .h5 {color: #0eafb1  }
#programas .col-sm-4:nth-of-type(3n+3) .h5 {color: #f7c600 }

#programas .col-sm-4 .h5 {
    font-size: 2.8em;
    line-height: .95em }

#programas a { text-decoration: underline }
#programas a:hover { text-decoration: none }

#programas .accordion-btn:after {
    position: absolute;
    bottom: 14px;
    top: auto;
    left: calc(50% - 8px);
	border: solid #FFFFFF;
	 border-width: 0 3px 3px 0 }

#programas .col-sm-4:nth-of-type(3n+1) > .accordion-btn::after { border: solid #e07219;
    border-width: 0 3px 3px 0 }

#programas .col-sm-4:nth-of-type(3n+2) > .accordion-btn::after { border: solid #0eafb1;
    border-width: 0 3px 3px 0 }

#programas .col-sm-4:nth-of-type(3n+3) > .accordion-btn::after { border: solid #f7c600;
    border-width: 0 3px 3px 0 }

#programas .col-sm-4 .backprogramas {position: relative; min-height: 76px }
.padding2050 { padding: 20px 50px }

@media (min-width: 980px) {
#programas .col-sm-4 .backprogramas {
    display: flex;
    align-items: center; min-height: 125px; justify-content: center }

		#programas .padding2050 { padding: 10px 70px;
}
	
	#programas .col-sm-4  { margin-bottom: 0}
	#doscontenidos .contenidodos{ padding-top: 0}
}
    /* testimonios */
.testimonios_carreras {
    background-image: url(../images/fdo_testimonios_internacionales.png) }
	#testimonios .ucu-carousel .owl-nav div { background-color: #173363 }


#numeros_internacionales .h4 { color:#FFFFFF;
margin-top: -70px;
    margin-bottom: 50px;
}


#numeros_internacionales .h5 { font-size: 3.2em}



@media (max-width: 768px) {
	#numeros_internacionales .h5 { font-size: 3em}
	#numeros_internacionales .bg-grey-lighter { margin-top: 40px !important}
	#numeros_internacionales .img-item{ padding-bottom: 30px}
	#numeros_internacionales .row { padding-bottom: 0}
	#numeros_internacionales .h4 {margin-top: -50px;    margin-bottom: 35px
 }
	#numeros_internacionales .col-xs-12  { margin-left: -17px}
	#numeros_internacionales .padding1025 { padding: 10px 5px }
}

/* asociaciones internacionales */
#asociaciones .fill-btn {
        box-shadow: inset 0px 0px 0px 2px #e07219;
	background-color: transparent; color: #FFFFFF; text-transform: uppercase;border-radius: 0; font-weight: 600;margin-top: 0; padding: 6px 10px 7px; 
}
#asociaciones .fill-btn:hover {
        box-shadow: inset 0px 0px 0px 2px #e07219;
	background-color: #e07219; color: #FFFFFF
}


@media (min-width: 980px){
	
	#asociaciones .row {
    	align-items: center;
		display: flex; 
		min-height: 255px; 
		margin-left: 0;
		margin-right: 0 }
	
	#postulaciones_inter .padding20 {
    padding: 40px 20px }
	
	#postulaciones_inter .col-sm-4 {min-height: 170px}
	}


@media (max-width: 768px){
	
	
	#asociaciones .row { padding: 30px 15px;
    margin-left: -30px;
    margin-right: -30px;
} 
	
	#asociaciones .fill-btn {  margin-bottom: 10px} 
	
}

#notas_inter .padding20  { 
	position: relative;min-height: 112px;align-items: center;
    display: inline-flex }

#notas_inter .infomas {
    position: absolute;
    bottom: 12px;
    right: 12px; font-weight: 800
}

#notas_inter .border,
#postulaciones_inter .border {
    border: 3px solid #173363; position: relative; min-height: 72px
}

	#postulaciones_inter p { color: #173363 }
#postulaciones_inter a { color: #173363; text-decoration: underline}
#postulaciones_inter a:hover { color: #0eafb1; text-decoration: none}

#postulaciones_inter .h3 { font-size: 3.2em; line-height: .9em }
#postulaciones_inter .h3 strong  {font-weight: 800 !important }

#postulaciones_inter .col-sm-4:nth-of-type(3n+1) .h3 {color: #e07219 }
#postulaciones_inter .col-sm-4:nth-of-type(3n+2) .h3 {color: #009ce6 }
#postulaciones_inter .col-sm-4:nth-of-type(3n+3) .h3 {color: #a189bd }


#postulaciones_inter .col-sm-4:nth-of-type(3n+1) > .accordion-btn::after { border: solid #e07219;
    border-width: 0 3px 3px 0 }

#postulaciones_inter .col-sm-4:nth-of-type(3n+2) > .accordion-btn::after { border: solid #009ce6;
    border-width: 0 3px 3px 0 }

#postulaciones_inter .col-sm-4:nth-of-type(3n+3) > .accordion-btn::after { border: solid #a189bd;
    border-width: 0 3px 3px 0 }


#programas .accordion-btn:after,
#postulaciones_inter .accordion-btn:after {
 
    min-width: 15px;
	min-height: 15px }
	
	

#postulaciones_inter .accordion-btn:after, #notas_inter .accordion-btn:after {
    top: auto; bottom: -5px }



#postulaciones_inter .col-sm-4{ margin-bottom: 20px
}

#notas_inter .col-sm-4{ margin-bottom: 20px
}

#postulaciones_inter .border.active,
#notas_inter .border.active
{
border-bottom: 0;
}

#postulaciones_inter .accordion-content{
border-bottom: 3px solid #173363;
	border-left: 3px solid #173363;
		border-right: 3px solid #173363
}

 #notas_inter .accordion-content {
    border-bottom: 3px solid #173363;
    border-left: 3px solid #173363;
    border-right: 3px solid #173363;
}

@media (min-width: 980px){
	#postulaciones_inter .accordion-btn:after, #notas_inter .accordion-btn:after {  bottom: -25px }
}


#notas_inter .col-sm-4:nth-child(4n+1) .infomas {color: #a189bd }

#notas_inter .col-sm-4:nth-child(4n+2) .infomas {color: #0eafb1 }

#notas_inter .col-sm-4:nth-child(4n+3) .infomas {color: #f7c600 }

@media (max-width: 768px){
#notas_inter .padding20 {
	min-height: 75px }	
	
	#planestra .row, #profesores .row { padding:30px 0 }

 }	
	

/* buscador de carreras */
.buscador_carreras .h2,
	.buscador_carreras .h2 strong {
   color: #173363 !important
}